# Python
__pycache__/
*.py[cod]
.env
venv/
*venv*/
env/

# Jupyter
.ipynb_checkpoints/

# Data and Models
data/*
!data/.gitkeep
experiments/artifacts/
experiments/models/bi_encoder_rubert_tiny2/model.safetensors

# Docs Compilations
docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
docs/*.bbl
docs/*.blg
docs/*.pdf
docs/*.synctex.gz

# OS Local
.DS_Store
Thumbs.db
